<aside
  id="aside"
  class="fixed inset-0 top-24 right-auto z-20 hidden h-[calc(100vh-100px)] w-64 shrink-0 overflow-y-auto lg:left-[max(0px,calc(50%-30.5rem))] lg:block xl:left-[max(0px,calc(50%-38rem))]"
>
  <div class="pb-10 pr-4">
    <nav class="text-sm capitalize ">
      <ul class="space-y-4">
        {{ $currentPage := . }}
        {{ range .Site.Menus.docs }}
          {{ if .HasChildren }}
            <li>
              <h5 class="p-2 font-medium text-secondary-900">{{ .Name }}</h5>
              <ul class="mt-1 space-y-1">
                {{ range .Children }}
                  <li>
                    {{ if $currentPage.IsMenuCurrent "docs" . }}

                      <a class="block p-2 font-bold rounded-lg bg-primary-50 text-primary-500" href="{{ .URL }}"
                        >{{ .Name }}</a
                      >
                    {{ else }}
                      <a class="block p-2 rounded-lg hover:bg-secondary-50 hover:text-secondary-900" href="{{ .URL }}"
                        >{{ .Name }}</a
                      >
                    {{ end }}
                  </li>
                {{ end }}
              </ul>
            </li>
          {{ else }}
            <li>
              <h5 class="p-2 font-medium text-secondary-700">{{ .Name }}</h5>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>
  </div>
</aside>
