<aside
  id="aside"
  class="md:m-0md:h-[calc(100vh-100px)] sticky inset-0 right-auto z-20 -ml-6 -mr-6 shrink-0 overflow-y-auto border-y border-y-gray-100 bg-white px-6 md:fixed md:top-24 md:w-64 md:border-none md:bg-transparent md:px-0 lg:left-[max(0px,calc(50%-29.5rem))] lg:block xl:left-[max(0px,calc(50%-38.5rem))]"
>
  <div class="flex items-center justify-between py-2.5 md:hidden">
    <a id="toggleTOC" class="flex items-center gap-2 text-xs"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-6 h-6"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12H12m-8.25 5.25h16.5" />
      </svg>
      Menu
    </a>
    <a href="#" class="text-sm">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="w-4 h-4"
      >
        <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 10.5L12 3m0 0l7.5 7.5M12 3v18" />
      </svg>
    </a>
  </div>
  <div class="hidden -ml-2 md:m-0 md:block md:pb-10 md:pr-4" id="TOC">
    <nav class="text-sm capitalize ">
      <ul class="space-y-4">
        {{ $currentPage := . }}
        {{ range .Site.Menus.docs }}
          {{ if .HasChildren }}
            <li>
              <h5 class="p-2 font-medium text-secondary-900">{{ .Name }}</h5>
              <ul class="mt-1 space-y-1">
                {{ range .Children }}
                  <li>
                    {{ if $currentPage.IsMenuCurrent "docs" . }}

                      <a class="block p-2 font-bold rounded-lg bg-primary-50 text-primary-500" href="{{ .URL }}"
                        >{{ .Name }}</a
                      >
                    {{ else }}
                      <a class="block p-2 rounded-lg hover:bg-secondary-50 hover:text-secondary-900" href="{{ .URL }}"
                        >{{ .Name }}</a
                      >
                    {{ end }}
                  </li>
                {{ end }}
              </ul>
            </li>
          {{ else }}
            <li>
              <h5 class="p-2 font-medium text-secondary-700">{{ .Name }}</h5>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    </nav>
  </div>
</aside>
